{
  "$schema": "https://www.schemastore.org/prettierrc.json",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "**/*.json",
      "options": { "parser": "jsonc", "trailingComma": "none" }
    }
  ]
}
