.footer {
  outline: 1px solid black;
  background-color: white;
  padding-block: 1rem;

  &__body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-inline: auto;
    row-gap: 0.5rem;
  }

  &__logo {
    opacity: 0.5;
    max-height: 1.5rem;
  }

  &__info {
    text-align: center;
  }
}
