.footer {
	border-top: 1px solid black;
	background-color: white;
	height: 50px;

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 90%;
		height: 100%;
		margin-inline: auto;
	}

	&__logo {
		opacity: 0.5;
		height: 50%;
	}
  
	&__info {
		text-align: end;
		font-size: 16px;
	}
}
